// Breakpoints

// Grid system

// Colors & other variables
$tactic: #f48c2d;
$theory: #de193b;
$story: #70c861;
$principle: #48abcc;
$methodology: #874493;

$text: #6b6b6b;
$bggray: #f4f4f4;
$bgdark: darken(#f4f4f4, 30%);
$dark: #333;

$ztop: 10;
$uppermenu: 2.75rem;
$lowermenu: 7rem;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&family=Roboto+Condensed:wght@700&display=swap');

// Elements
html {
  overflow-y: scroll;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  padding-top: $uppermenu + $lowermenu;
  margin: 0;
  color: $text;
  font-family: 'Barlow Semi Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:link, a:visited, a:hover {
  // TODO: What is this color globally?
  color: $theory;
}
blockquote {
  font-style: italic;
  position: relative;
  quotes: '“' '”';
  color: lighten($text, 15%);
}
hr {
  border: none;
  border-top: 1px solid darken($bggray, 15%);
  margin: 1.5rem 0;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif; 
  text-transform: uppercase;
}
h1 {
  font-size: 3.25rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1rem;
  font-weight: normal;
  margin: .25rem 0;
  color: $text;
}
h5 {
  font-size: 1rem;
  margin: 0;
  display: inline;
}
svg { // Center inline svgs
  margin: auto;
  display: block;
  outline: none;
}

// Classes
@mixin type-particulars($color) {
  a:link, a:visited, a:hover, h1, h2, h3, h4, h5, h6 { color: $color; }
  blockquote.pull-quote, .caption { border-color: $color; }
}
.tactic { @include type-particulars($tactic); }
.theory { @include type-particulars($theory); }
.story { @include type-particulars($story); }
.principle { @include type-particulars($principle); }
.methodology { @include type-particulars($methodology); }

.box {
  position: relative;
  margin: 1rem 0;
  border: 1px solid $bgdark;
  padding: 1rem 2rem;
  background-color: $bggray;
  h1, h2, h3, h4, h5, h6, p { color: $text; }
}
.centered { 
  text-align: center; 
}
.clear { // Disgusting, but only used after floated blockquotes
  clear: both;
}
.router-link-active {
  font-weight: bold;
}
.rtl {
  direction: rtl;
}

// Animations
@keyframes add-favorite {
  0% {opacity: 0; transform: scale(2);}
  100% {opacity: 1; transform: scale(1);}
}

// Transitions
// fade
.fade-enter-active, .fade-leave-active {
  position: relative;
  transition: all .2s;
  opacity: 1;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
// slide
.slide-enter-active, .slide-leave-active {
  transition: all .2s ease-out;
}
.slide-enter-to, .slide-leave {
   max-height: 100vh;
   overflow: hidden;
}
.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}
// slide-fade
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .2s ease-out;
  opacity: 1;
}
.slide-fade-enter-to, .slide-fade-leave {
   max-height: 100vh;
   overflow: hidden;
}
.slide-fade-enter, .slide-fade-leave-to {
   overflow: hidden;
   max-height: 0;
   opacity: 0;
}
