// Breakpoints

// Grid system

// Colors
$tactic: #f48c2d;
$theory: #de193b;
$story: #70c861;
$principle: #48abcc;
$methodology: #874493;

$text: #6b6b6b;
$bggray: #f4f4f4;
$bgdark: darken(#f4f4f4, 30%);

// Fonts

// Elements
html {
  overflow-y: scroll;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  color: $text;
  margin: 0;
}
a:link, a:visited, a:hover {
  // TODO: What is this color globally?
  color: $theory;
}
blockquote {
  font-style: italic;
  position: relative;
  quotes: '“' '”';
  color: lighten($text, 15%);
}
hr {
  border: none;
  border-top: 1px solid darken($bggray, 15%);
  margin: 1.5rem 0;
}
h4 {
  font-size: 1rem;
  font-weight: normal;
  margin: .25rem 0;
  color: $text;
}
h5 {
  font-size: 1rem;
  margin: 0;
  display: inline;
}
svg { // Center inline svgs
  margin: auto;
  display: block;
  outline: none;
}

// Classes
@mixin type-particulars($color) {
  a:link, a:visited, a:hover, h1, h2, h3, h4, h5, h6 { color: $color; }
  blockquote.pull-quote, .caption { border-color: $color; }
}
.tactic { @include type-particulars($tactic); }
.theory { @include type-particulars($theory); }
.story { @include type-particulars($story); }
.principle { @include type-particulars($principle); }
.methodology { @include type-particulars($methodology); }

.box {
  position: relative;
  margin: 1rem 0;
  border: 1px solid $bgdark;
  padding: 1rem 2rem;
  background-color: $bggray;
  h1, h2, h3, h4, h5, h6, p { color: $text; }
}
.centered { 
  text-align: center; 
}
.clear { // Disgusting, but only used after floated blockquotes
  clear: both;
}

// Transitions
// fade
.fade-enter-active, .fade-leave-active {
  position: relative;
  transition: all .2s;
  opacity: 1;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
// slide
.slide-enter-active, .slide-leave-active {
  transition: all .2s ease-out;
}
.slide-enter-to, .slide-leave {
   max-height: 100vh;
   overflow: hidden;
}
.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}
// slide-fade
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .2s ease-out;
  opacity: 1;
}
.slide-fade-enter-to, .slide-fade-leave {
   max-height: 100vh;
   overflow: hidden;
}
.slide-fade-enter, .slide-fade-leave-to {
   overflow: hidden;
   max-height: 0;
   opacity: 0;
}
